{
	"proxy": {
		"flag": false,
		"setting_path": "C:/Users/user/Downloads/sis_temp/proxy"
	},
	"taskbar": {
		"flag": true
	},
	"desktop": {
		"flag": false,
		"image_path": ""
	},
	"vscode": {
		"flag": false
	},
	"chrome": {
		"flag": false
	},
	"gcc": {
		"flag": false
	},
	"git": {
		"flag": false
	},
	"php": {
		"flag": false,
		"path": "C:/Users/user/Downloads/sis_temp/php"
	},
	"python": {
		"flag": false
	},
	"nodejs": {
		"flag": false
	}
}
