{
	"proxy": {
		"flag": true
	},
	"taskbar": {
		"flag": false
	},
	"desktop": {
		"flag": false,
		"image_path": ""
	},
	"vscode": {
		"flag": false
	},
	"chrome": {
		"flag": false
	},
	"gcc": {
		"flag": false
	},
	"php": {
		"flag": false
	},
	"python": {
		"flag": false
	},
	"nodejs": {
		"flag": false
	},
	"git": {
		"flag": true,
		"username": "",
		"email": "",
		"sis_auto_update": true
	}
}
